#This is the requirements.txt file with all dependencies.

###### Requirements without Version Specifiers ######

pandas
nltk
numpy
re
gensim
matplotlib
sklearn
collections
json
seaborn
pylab
os
ast
itertools
statsmodels