#This is the requirements.txt file with all dependencies.

# import necessary libraries
import os
import pandas as pd
import nltk

import pandas as pd
pd.options.mode.chained_assignment = None 
import numpy as np
import re
# import necessary libraries for Data manipulation
import nltk

from gensim.models import word2vec

# import necessary libraries for modelling
from sklearn.manifold import TSNE

# Plotting
import matplotlib.pyplot as plt
%matplotlib inline